.header{
    width: 100%;
    height: auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
    background: linear-gradient(#ff6e7f,#f13593);
    color: white;
}
.navbar{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 45px;
    width: 45px;
}
.logo p{
    font-size: 21px;
    margin: 0px 5px;
    color: black;
}
.dropdown{
    display: flex;
    align-items: center;
}
.nav-item{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.nav-item i{
    margin: 0px 5px;
    color: #f13593;
}
.profile{
    /* margin: 0px 15px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    color: black;
    padding: 5px 10px;
    /* width: 200px; */
}
.userdata{
    display: flex;
}
.sidebar{
    display: none;
}
.sidebar i{
    font-size: 25px;
}
.profile img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px 20px;
}
.user-info{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
}
.user-info span{
    font-size: 13px;
}
.menu-button{
    display: none;
    width: 80px;
    /* border: 1px solid black; */
    text-align: end;
}
.menu-button i{
    font-size: 30px;
}
.doc{
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;
}
.sec-doc{
    width: 200px;
}

.form-doc{
    width: 570px;
}

.setting-doc{
    width: 280px;
}
.sec-doc p{
    font-size: 20px;
    margin: 5px 0;
}
 .setting-doc p{
    font-size: 20px;
    margin: 5px 0;
}
.form-doc p{
    font-size: 20px;
    margin: 5px 0;
}
.sec-doc, .form-doc, .setting-doc span{
    font-size: 14px;
    margin: 5px 0;
}

@media (max-width: 980px) {
    .sidebar{
        display: block;
    }
    .profile{
        width: 100%;
    }

}


