.main {
  height: 100vh;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightslategray;
}

.main h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-decoration: underline peru;
}

.calculator {
  /* border: 1px solid black; */
  width: auto;
  height: 450px;
}

.calculator input {
  width: 350px;
  height: 40px;
  text-align: right;
  background-color: gainsboro;
  color: black;
  font-size: 16px;
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

input::placeholder {
  text-align: center;
}

.calculator .btns {
  height: 90%;
  width: auto;
  /* border: 1px solid black; */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btns button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  outline: none;
  font-size: 16px;
  color: white;
  background-color: orangered;
  box-shadow: -4px -4px 18px lightgray;
}
