
.form-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.form-header p{
    color: lightgrey;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid black; */
    margin: 15px 0;
}

.line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    position: relative;
    /* border: 1px solid green; */
    padding: 5px;
}

.url-line{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    position: relative;
    /* border: 1px solid green; */
    padding: 5px;
}

.url-line .url-input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 10px 0px;
}

.line input{
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.url-input .date{
    width: 48%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
}

.line textarea{
    width: 100%;
    border-radius: 4px;
    border: 1px solid grey;
    resize: vertical;
}

.btns{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    position: absolute;
    right: 0;
}

.line-btn{
    margin: 35px 0;
}

.btns button{
    padding: 8px;
    margin: 0px 10px;
    font-size: 14px;
    border-radius: 4px;
}   

.btns .next-sec{
    background: linear-gradient(#ff6e7f,#f13593);
    color: white;
    border: none;
}



@media only screen and (max-width: 980px) {
   form{
    width: 100%;
    /* border: 1px solid black; */
   }
   .form-header{
    /* border: 1px solid black; */
   }
    form .line {
      flex-direction: column;
      /* width: 100px; */
    }
    .line .line-input {
        width: 100%;
        margin: 10px;
    }
    .photo-input{
        width: 80%;
        /* border: 5px solid red; */
    }

    .photo-input input{
        width: 100%;
    }

  
    .btns {
      position: static;
      justify-content: center;
      margin-top: 10px;
    }
  }



