.resume {
    width: 100%;
    max-width: 600px;
    height: 100vh;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    background-color: white;
  }
  
  .resume-header {
   width: 100%;
   box-sizing: border-box;
   /* border: 1px solid black; */
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* background-color: #666666; */
  }

  .resume-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
  }

  .image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* border: 1px solid black; */
    margin-left: 5px;
  }
  .image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .profession{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin: 0px 10px;
  }
  .profession h3{
    font-size: 28px;
    /* color: white; */
  }
  .profession p{
    background-color: #dbb709;
    padding: 3px;
    /* color: white; */
    font-weight: 500;
    border-radius: 8px;
  }
  .contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid black; */
  }
  .phone{
    display: flex;
    margin: 2px 0px;
  }
  .phone p{
    margin: 0px 5px;
    /* color: white; */
  }
  .phone span, .mail span, .contact span{
    color: #dbb709;
  }
  .mail{
    display: flex;
    margin: 2px 0px;
  }
  .mail p{
    margin: 0px 5px;
    /* color: white; */
  }

  .contact p{
    font-size: 12px;
    /* color: white; */
  }
  .address{
    display: flex;
    width: 200px;
    margin: 2px 0px;
  }
  .address p{
    margin: 0px 5px;
  }
  
  .main-section{
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* margin: 10px 0px; */
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: white;
  }

  .resume-part-one{
    display: flex;
    flex-direction: column;
    align-items: end;
    /* border: 1px solid black; */
    width: 30%;
    /* background-color: #5190a1; */
  }
  .skills{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    /* border: 1px solid black; */
    padding: 15px 0px;
  }
  .skills h3{
    margin: 5px 5px;
    background-color: whitesmoke;
    padding: 0px 3px;
  }
  .skill-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    /* border: 1px solid black; */
    margin: 0px 5px;
  }
  .skill-box p{
    font-size: 14px;
    margin: 0px 3px;
    width: 80%;
    text-align: end;
    /* border: 1px solid black; */
    /* color: #fff; */
  }
  .skill-box span{
    width: 15%;
     /* border: 1px solid black; */
     color: #ff9a00;
  }



  .projects{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    /* border: 1px solid black; */
    padding: 15px 0px;
  }
  .projects h3{
    margin: 5px 5px;
    background-color: whitesmoke;
    padding: 0px 3px;
  }
  .project-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    /* border: 1px solid black; */
    margin: 0px 5px;
  }
  .project-box p{
    font-size: 14px;
    margin: 0px 3px;
    width: 80%;
    text-align: end;
    /* border: 1px solid black; */
    /* color: #fff; */
  }
  .project-box span{
    width: 15%;
    /* border: 1px solid black; */
    color: #ff9a00;
  }



  .language{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    /* border: 1px solid black; */
    padding: 15px 0px;
  }
  .language h3{
    margin: 5px 5px;
    background-color: whitesmoke;
    padding: 0px 3px;
  }
  .language-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    /* border: 1px solid black; */
    margin: 0px 5px;
  }
  .language-box p{
    font-size: 14px;
    margin: 0px 3px;
    width: 80%;
    text-align: end;
    /* border: 1px solid black; */
    /* color: #fff; */
  }
  .language-box span{
    width: 15%;
    /* border: 1px solid black; */
    color: #ff9a00;
  }



  
  .courses{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    /* border: 1px solid black; */
    padding: 15px 0px;
  }
  .courses h3{
    margin: 5px 5px;
    background-color: whitesmoke;
    padding: 0px 3px;
  }
  .course-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    /* border: 1px solid black; */
    margin: 0px 5px;
  }
  .course-box p{
        font-size: 14px;
        margin: 0px 3px;
        width: 80%;
        text-align: end;
        /* border: 1px solid black; */
        /* color: #fff; */
  }
  .course-box span{
        width: 15%;
        /* border: 1px solid black; */
        color: #ff9a00;
  }


  .resume-part-two{
    width: 69%;
    /* border: 1px solid black; */
  }

  .summary{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    /* border: 1px solid black; */
    padding: 15px 0px;
  }
  .summary h3{
    margin: 5px 5px;
    /* background-color: #000; */
    /* color: #fff; */
    padding: 0px 3px;
  }
  .summary p{
    font-size: 14px;
    margin: 5px 5px;
  }

  .education{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    /* border: 1px solid black; */
    padding: 15px 0px;
  }
  .education h3{
    margin: 5px 5px;
    /* background-color: #000; */
    /* color: #fff; */
    padding: 0px 3px;
  }
 .education-details{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 95%;
    /* border: 1px solid black; */
    margin: 5px 5px;
  }
  .education-time{
    width: 35%;
    /* border: 1px solid purple; */
  }
  .time-duration{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid red; */
  }
  .time-duration p{
    font-size: 11px;
    width: 83%;
    text-align: start;
    /* border: 1px solid green; */
  }
  .time-duration span{
    width: 15%;
    /* border: 1px solid black; */
  }
  .time-duration i{
    font-size: 15px;
  }
  .education-process{
    width: 65%;
    /* border: 1px solid black; */
  }
  .education-process h5{
    font-size: 14px;
    /* border: 1px solid black; */
    margin-left: 5px;
  }
  .education-process strong{
    font-size: 13px;
    /* border: 1px solid black; */
    /* margin-left: 5px;   */
  }
  .education-process p{
    font-size: 12px;
    /* border: 1px solid black; */
    /* margin-left: 5px; */
  }
  .education-process span{
    font-size: 11px;
  }

  .experience{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    /* border: 1px solid black; */
    padding: 15px 0px;
  }
  .experience h3{
    margin: 5px 5px;
    /* background-color: #000; */
    /* color: #fff; */
    padding: 0px 3px;
  }
  .experience-details{
    width: 95%;
    /* border: 1px solid black; */
    margin: 0px 5px;
  }
  .jot-title{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
  }
  .jot-title strong{
    font-size: 16px;
  }
  .job-location{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
  }
  .job-location p{
    font-size: 14px;
    margin: 0px 5px;
  }
  .job-location span{
    font-size: 14px;
    margin: 0px 3px;
  }
  .company-details{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    margin: 5px 0px;
  }
  .company-details p{
    font-size: 14px;
  }
  .company-details span{
    margin: 0px 5px ;
    font-size: 12px;
  }
  .other-job-details{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    margin: 5px 0px;
  }
  .other-job-details p{
    font-size: 14px;
  }




  /* .resume.fixed-dimensions {
    width: 90%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
  } */




  /* @media only screen and (max-width: 768px) {
    .resume.mobile-pdf {
      width: 100vw;
      height: 100vh;
      transform: scale(1);
      border: 1px solid black;
    }
  } */

  

  /* 'FSTAG' building, Opp.Narayani hospital, Mokaji circle, Nana mava road, Rajkot - 360005 */

  /* I am done with this job more then 2 year and i learn how to run business and how ti handle big international deal i was learn lots of thing. */

  /* Saurashtra Gyanpith Arts & Commerce College */
  /* Bhakt Kavi Narshinh Mehta Unoversity */
  /* I am graduate in B.com and currently i study in LL.B field also i attend class full stack devlopment  */

