*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  
  height: 100vh;
  width: 100%;
  border: 1px solid #000;
  display: grid;
  place-items: center;
  background-color: #f5f5f5;
  background-color: black;

}

table{
  height: 300px;
  width: 500px;
  border: 1px solid #000; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 193, 92);
}

h3{
  text-decoration: underline white 3px;
}

thead{
  background-color: brown;
  color: white ;
}


tbody{
  background-color: bisque;
}

th{
  padding: 0px 48px;
  font-size: 18px;
}

td{
  padding: 2px 50px;
  border: 1px solid white;
}